*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
#header {
    padding: 1em;
    text-align: center;
    margin: 2em .5em 2em .5em;
    border-width: 1em auto 1em auto;
    background-color: green; 
    color: black;
    box-shadow: 20px 20px 20px;
}

h1{
    color: whitesmoke;
}

h2 {
    font-weight: bolder;
    margin-left: 1em;
}

.container {
    display: grid;
    grid-template-columns: 25%;
    grid-column-gap: 2em;
}

.search {
    width: 16em; 
    display: flex column;
    float: left;
    margin-top: 4em;
    margin-left: 2em;
    margin-bottom: 1.5em;

}

.btn{
    align-items: center;
    width: 14em;
    margin-top: .8em;
    margin-left: 1em;
    background-color: lightgrey;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}

.btn:hover {
    background-color: orange;
}

input {
    margin-left: 1em;
    text-align: center;
    width: 14em;
    margin-bottom: .5em;
} 

.infobox {
    margin-left: 1em;
}

.row1 {
    padding-bottom: 1.5rem;
    background-color: whitesmoke;
    border: .1em solid black;
    margin: 6em 1em 1em 2em;
}

.forecast {
    margin: 2em 0rem 2rem 2rem;
    
}

.boxes {
    padding: 1em;
    color: whitesmoke;
    background-color: lightgrey;
    margin: 1rem 1rem 0rem 1rem ;
    height: .5rem;
}

